---
#- name: install bird package
#  ansible.builtin.apt:
#    name: 'bird3'
#    update_cache: yes

- name: bird_bgp.conf Konfigruation
  ansible.builtin.template:
    src: bird_bgp.conf.j2
    dest: /etc/bird/bird_bgp.conf
  register: bird_bgp_config

- name: bird_filter.conf Konfigruation
  ansible.builtin.template:
    src: bird_filter.conf.j2
    dest: /etc/bird/bird_filter.conf
  register: bird_filter_config

- name: bird.conf Konfigruation
  ansible.builtin.template:
    src: bird.conf.j2
    dest: /etc/bird/bird.conf
  register: bird_config

- name: bird_no_ansible.conf einmalig als leere Datei anlegen
  ansible.builtin.command: install -m 0644 -o root -g root /dev/null /etc/bird/bird_no_ansible.conf
  args:
    creates: /etc/bird/bird_no_ansible.conf
  register: bird_config

- name: bird Config Check
  ansible.builtin.command:
    cmd: "birdc configure check"
  register: birdc_check_out
  failed_when: '"syntax error" in birdc_check_out.stdout'
  when:
    - not ansible_check_mode
    - (bird_filter_config.changed or bird_bgp_config.changed or bird_config.changed)

- name: bird Config Reload
  ansible.builtin.command:
    cmd: "birdc configure"
  register: birdc_configure
  when:
    - not ansible_check_mode
    - (bird_filter_config.changed or bird_bgp_config.changed or bird_config.changed)
    - '"Configuration OK" in birdc_check_out.stdout'
  changed_when: '"Reconfigured" in birdc_configure.stdout or "Reconfiguration in progress" in birdc_configure.stdout'
  failed_when: '"Reconfigured" not in birdc_configure.stdout and "Reconfiguration in progress" not in birdc_configure.stdout'
