// {{ ansible_managed }}

{% for zonename, zone in zones.items() | sort %}

zone "{{ zonename }}" {
    type primary;
    file "/var/lib/bind/db.{{ zonename }}";

    allow-transfer {
{% for host in groups['ns_secondary'] %}
{%   if hostvars[host].ipv4 is defined and hostvars[host].ipv4 %}
        {{ hostvars[host].ipv4 }};	// {{ host }}
{%   endif %}
{%   if hostvars[host].ipv6 is defined and hostvars[host].ipv6 %}
        {{ hostvars[host].ipv6 }};	// {{ host }}
{%   endif %}
{% endfor %}
    };

    notify yes;
    also-notify {
{% for host in groups['ns_secondary'] %}
{%   if hostvars[host].ipv4 is defined and hostvars[host].ipv4 %}
        {{ hostvars[host].ipv4 }};	// {{ host }}
{%   endif %}
{%   if hostvars[host].ipv6 is defined and hostvars[host].ipv6 %}
        {{ hostvars[host].ipv6 }};	// {{ host }}
{%   endif %}
{% endfor %}
    };
};

{% endfor %}

