include "bird_filter.conf";

# Router Konfiguration

router id {{ as_router_id }};
log syslog all;

protocol kernel {
        scan time 20;
        import filter own_subnet_morespec; #TODO Extra Filter bauen
        export filter {
                if net ~ [0.0.0.0/0] then reject;
                krt_prefsrc = {{ as_v4.router_prefsrc }};
                accept;
        };
        device routes;
        persist;
}

protocol direct {
{% if direct_interfaces is defined%}{% for interface in direct_interfaces %}
        interface "{{ interface }}";
{% endfor %}{% endif %}
}

protocol device {
        scan time 10;
}

protocol static {
        route {{ as_prefix.v4 }} unreachable;
        route 0.0.0.0/0 unreachable;
}

protocol bfd {
}

include "bird_bgp.conf";
