---

- name: Deploy named.conf
  template:
    src: named.conf.j2
    dest: /etc/bind/named.conf
    owner: root
    group: bind
    mode: "0644"
  notify: restart bind

- name: Deploy named.conf.options
  template:
    src: named.conf.options.j2
    dest: /etc/bind/named.conf.options
    owner: root
    group: bind
    mode: "0644"
  notify: restart bind

- name: Deploy named.conf.local
  template:
    src: named.conf.local.j2
    dest: /etc/bind/named.conf.local
    owner: root
    group: bind
    mode: "0644"
  notify: restart bind

- name: Deploy zone files
  template:
    src: db.zone.j2
    dest: "/var/lib/bind/db.{{ item.key }}"
    owner: root
    group: bind
    mode: "0644"
  loop: "{{ zones | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  notify: restart bind

- name: Check zone files
  command: "named-checkzone {{ item.key }} /var/lib/bind/db.{{ item.key }}"
  loop: "{{ zones | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  changed_when: false

- name: Check BIND config (named-checkconf)
  command: named-checkconf
  changed_when: false
