{% for community in as_tunnel_endpoints %}
#{{ community }}
{% for peer in as_tunnel_endpoints[community]["peers"] %}
auto gre-{{ peer }}
iface gre-{{ peer }}
	tunnel-mode ip6gre
	tunnel-remote {{ as_tunnel_endpoints[community]["peers"][peer]["gre6_target"] }}
	tunnel-local {{ as_v6.tunnel_source }}
	tunnel-ttl 255
	#
	mtu 1400
	address {{ as_v4.gre_tunnel_transfer_network | ansible.utils.ipsubnet(31, as_tunnel_endpoints[community]["peers"][peer]["peer_id"]) }}
	address {{ as_v6.gre_tunnel_transfer_network | ansible.utils.ipsubnet(127, as_tunnel_endpoints[community]["peers"][peer]["peer_id"]) }}
{% endfor %}


{% endfor %}
