---

- name: Deploy named.conf
  template:
    src: named.conf.j2
    dest: /etc/bind/named.conf
    owner: root
    group: bind
    mode: "0644"
  notify: restart bind

- name: Deploy named.conf.options
  template:
    src: named.conf.options.j2
    dest: /etc/bind/named.conf.options
    owner: root
    group: bind
    mode: "0644"
  notify: restart bind

- name: Deploy named.conf.local
  template:
    src: named.conf.local.j2
    dest: /etc/bind/named.conf.local
    owner: root
    group: bind
    mode: "0644"
  notify: restart bind

- name: Check BIND config (named-checkconf)
  command: named-checkconf
  changed_when: false
